abbrev_defs
/auto-save-list/
/elpa/
/eshell/
test.*
/url/
/request/
tramp
tutor
flycheck_customize.el
*.dat
/Pymacs/
/ropemacs/
*.elc
/.python-environments/
/gst-mode/
/bin/
cider-history
/jabber-avatar-cache/
pyvenv.cfg


